<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/map.css">
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    <title>Kalbajar</title>
</head>
<body>
<main class="container">

    <section class="section-1">
        <nav>
            <div class="nav-main">
                <div class="nav-logo">
                    <a href="#"><img th:src="@{/images/logoKalb.png}" alt="kalbajar"></a>
                </div>
                <ul>
                    <li><a th:href="@{/login}">Sign in</a></li>
                </ul>
                <div class="nav-mobile-menu" id="nav-mobile-menu">
                    <img src="https://rvs-hosterr-waitlist-page.vercel.app/Assets/Hamburger-Menu.svg" alt="">
                </div>
            </div>
        </nav>

        <nav class="mobile-menu">
            <div class="mobile-menu-main">
                <ul>
                    <li><a th:href="@{/login}">Sign in</a></li>
                </ul>
            </div>
        </nav>

        <div class="section-1-main">
            <div class="section-1-content" id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29848.5480375419!2d46.0430575!3d40.10643544999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403fb1d1313db693%3A0xc9698025f05e0022!2z0JrQtdC70YzQsdCw0LTQttCw0YA!5e1!3m2!1sru!2saz!4v1722351365523!5m2!1sru!2saz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </section>

</main>


<script type="module" src="/js/map.js"></script>
</body>
</html>
