<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
<div id="gradient-bg">
    <div class="gradient-container">
        <div class="gradient1"></div>
        <div class="gradient2"></div>
        <div class="gradient3"></div>
        <div class="gradient4"></div>
        <div class="gradient5"></div>
    </div>
</div>

<form id="form-container">
    <h1 class="title">Sign in</h1>
    <div class="label">Username</div>
    <input type="text" name="username"/>
    <div class="label">Password</div>
    <input type="password" name="password"/>
    <input class="submit" type="submit" value="Daxil ol"/>
</form>

<script src="../static/js/login.js"></script>

<!--<script>-->
<!--    async function login() {-->
<!--        const username = document.getElementById('username').value;-->
<!--        const password = document.getElementById('password').value;-->

<!--        const response = await fetch('/login', {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            body: JSON.stringify({ username, password })-->
<!--        });-->

<!--        if (response.ok) {-->
<!--            window.location.href = '/swagger-ui.html';-->
<!--        } else {-->
<!--            alert('Login failed');-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>