
@font-face {
    font-family: 'Sucrose Bold Two';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
}

@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 61.93%;
    font-family: 'Sucrose Bold Two';
}

header img {
    position: absolute;
    top: 0;
    right: 0;
    width: 45.8%;
}

header h1 {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 12vw;
    line-height: 0.8;
    text-align: center;
}

header h1 span {
    display: block;
    font-size: 8.75vw;
}


main {
    background: #fff;
    border: 1px solid #fff;
    font-family: 'IM Fell French Canon Pro';
    font-size: 1.4rem;
    padding: 2rem 25%;
    line-height: 1.6;
}

@media (max-width: 400px) {
    main {
        padding: 2rem;
    }
}


nav {
    position: fixed;
    padding: 10px;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    position: relative;
    width: 38px;
    height: 38px;
    border: 1px solid #004CFF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

li:hover .divInner,
li:hover .divShadow,
li:hover .iconUser {
    transition: 0.3s ease-in-out;
}

li:hover .divInner {
    height: 40px;
    width: 40px;
    transform: none;
}

li:hover .divShadow {
    box-shadow: 0 0 40px 40px rgba(0, 76, 255, 0.15);
}

li:hover .iconUser {
    background-image: url('https://rassweiler-it.de/images/rassweiler-it_icon_user_blue_filled.png');
}

.divInner,
.divShadow,
.spanTxt {
    position: absolute;
    transition: 0.3s;
}

.divInner {
    height: 40px;
    width: 40px;
    background-color: black;
    transform: translate(-3px, -3px) rotate(45deg);
    z-index: 1;
}

.divShadow {
    left: 25px;
    top: 25px;
    height: 0;
    width: 0;
    z-index: 2;
}

.spanTxt {
    height: 20px;
    width: 20px;
    color: #fff200;
    line-height: 50px;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: url('https://rassweiler-it.de/images/rassweiler-it_icon_user_blue_hollow.png') center / contain no-repeat;
}


nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    text-shadow: 5px 7px 9px rgba(0,0,0,0.91);
}

nav a:hover {
    color: #ffcc00;
}


@media (max-width: 768px) {
    header h1, header h1 span {
        font-size: 2.5rem;
    }

    nav, nav a {
        top: 1rem;
        right: 1rem;
        font-size: 1rem;
    }
}
